set timeout=0
set default=0
menuentry "LLPL Bare-Metal Demo" {
    multiboot2 /boot/kernel.bin
    module2 /boot/hello.txt hello.txt
    module2 /boot/readme.txt readme.txt
    module2 /boot/apps.txt apps.txt
    module2 /boot/userapp.elf userapp.elf
    module2 /boot/llpl_userapp.elf llpl_userapp.elf
    module2 /boot/libsys.so libsys.so
    module2 /boot/dyn_userapp.elf dyn_userapp.elf
    module2 /boot/memtest.elf memtest.elf
    module2 /boot/cat.elf cat.elf
    module2 /boot/spawnwait.elf spawnwait.elf
    module2 /boot/execchain.elf execchain.elf
    module2 /boot/echoserver.elf echoserver.elf
    module2 /boot/ipcdemo.elf ipcdemo.elf
    module2 /boot/echod.elf echod.elf
    module2 /boot/echoclient.elf echoclient.elf
    module2 /boot/shmserver.elf shmserver.elf
    module2 /boot/shmclient.elf shmclient.elf
    module2 /boot/atad.elf atad.elf
    module2 /boot/netd.elf netd.elf
    module2 /boot/ping.elf ping.elf
    module2 /boot/traceroute.elf traceroute.elf
    module2 /boot/pingview.elf pingview.elf
    module2 /boot/tetris.elf tetris.elf
    module2 /boot/wm.elf wm.elf
    module2 /boot/winball1.elf winball1.elf
    module2 /boot/winball2.elf winball2.elf
    module2 /boot/filebrowser.elf filebrowser.elf
    module2 /boot/editor.elf editor.elf
    module2 /boot/terminal.elf terminal.elf
    module2 /boot/ui_demo.elf ui_demo.elf
    module2 /boot/taskmgr.elf taskmgr.elf
    module2 /boot/settings.elf settings.elf
}
