set timeout=0
set default=0
menuentry "LLPL Bare-Metal Demo" {
    multiboot2 /boot/kernel.bin
    module2 /boot/hello.txt hello.txt
    module2 /boot/readme.txt readme.txt
    module2 /boot/userapp.elf userapp.elf
    module2 /boot/llpl_userapp.elf llpl_userapp.elf
    module2 /boot/libsys.so libsys.so
}
